.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  flex-direction: column;
}
.quiz_icon {
  width: 90vw;
  max-height: 300px;
}

.userInputField {
  margin: 10px;
}
